/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
    

    
  ---------------------------------------------------*/
/* @group GRADIENTS */
/* @end */
/* @group BORDERS */
/* @end */
/* @group SHADOWS */
/* @end */
/* @group TRANSFORM */
/* @end */
/* @group FILTERS */
/* @end */
/* @group TRANSITION */
/* @end */
/* @group UTILITIES */
/* @end */
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
  }
}
@-webkit-keyframes bouncing {
  0% {
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  33% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -o-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  66% {
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    -webkit-opacity: 0.75;
    opacity: 0.75;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
    filter: alpha(opacity=75);
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes bouncing {
  0% {
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  33% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -o-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  66% {
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    -webkit-opacity: 0.75;
    opacity: 0.75;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
    filter: alpha(opacity=75);
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/* @group GRID */
.optinoid-optin * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* @end */
/* @group OPTIN OVERLAY */
#optinoid-overlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  visibility: hidden;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
#optinoid-overlay.active {
  visibility: visible;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#optinoid-overlay.closing {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.optinoid-optin {
  position: absolute;
  left: 50%;
  top: -100%;
  background: #FFF;
  width: 640px;
  margin-left: -320px;
}
.optinoid-optin.active {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.optinoid-optin.closing {
  top: -5000px;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.optinoid-optin.optin-inline {
  position: relative;
  left: auto;
  top: auto;
  margin-left: inherit;
  width: 100%;
  float: left;
  margin: 1.5em 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.optinoid-optin.content-over-full,
.optinoid-optin.content-over-split {
  width: 100%;
  margin-left: 0;
  left: 0;
  border: none !important;
}
.optinoid-optin.content-over-full .optinoid-container,
.optinoid-optin.content-over-split .optinoid-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.optinoid-optin.content-over-full .optinoid-container .optinoid-container-inner,
.optinoid-optin.content-over-split .optinoid-container .optinoid-container-inner {
  position: absolute;
  top: 50%;
  width: 640px;
  left: 50%;
  margin-left: -320px;
  text-align: center;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.optinoid-optin.content-over-full .optinoid-split-left,
.optinoid-optin.content-over-split .optinoid-split-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.optinoid-optin.content-over-full .optinoid-split-right,
.optinoid-optin.content-over-split .optinoid-split-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.optinoid-optin.content-over-full.active,
.optinoid-optin.content-over-split.active {
  top: 0;
  bottom: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.optinoid-optin.content-over-full .close-optin,
.optinoid-optin.content-over-split .close-optin {
  position: fixed;
  right: 16px;
  top: 14px;
}
.optinoid-optin.content-over-split .optinoid-text,
.optinoid-optin.content-over-split .optinoid-form {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 40px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.optinoid-optin .close-optin {
  position: absolute;
  right: -16px;
  top: -16px;
  font-size: 20px;
  line-height: 30px;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #FFF;
  text-align: center;
  margin: 0;
  cursor: pointer;
  z-index: 100;
}
.optinoid-optin .close-optin:hover {
  background-color: #000;
  color: #FFF;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.optinoid-optin .optinoid-text h1,
.optinoid-optin .optinoid-text h2,
.optinoid-optin .optinoid-text h3,
.optinoid-optin .optinoid-text h4 {
  margin-top: 0;
  clear: none;
}
.optinoid-optin form {
  width: 100%;
  float: left;
  margin: 0;
}
.optinoid-optin input[type=text],
.optinoid-optin input[type=email] {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  border: 1px solid #DDD;
}
.optinoid-optin input[type=text].has-error,
.optinoid-optin input[type=email].has-error {
  border-color: #A00;
  background-color: #ffdddd;
}
.optinoid-optin input[type=text] .placeholder,
.optinoid-optin input[type=email] .placeholder {
  color: #999;
}
.optinoid-optin input[type=text],
.optinoid-optin input[type=email],
.optinoid-optin button,
.optinoid-optin .button {
  height: 40px;
  margin-bottom: 0;
}
.optinoid-optin .optinoid-field {
  /*width: 69%;*/
  width: 100%;
  float: left;
}
.optinoid-optin .optinoid-field.has-multiple-fields {
  /*width: 39%;*/
  /*margin-right: 1%;*/
}
.optinoid-optin .optinoid-button {
  /*width: 29%;*/
  white-space: nowrap;
  float: right;
}
.optinoid-optin .optinoid-button.has-multiple-fields {
  /*width: 19%;*/
}
.optinoid-optin button,
.optinoid-optin .button {
  padding: 0  0.9375rem;
  text-align: center;
  line-height: 38px;
  font-size: 14px;
  background: #333;
  border: 1px solid #FFF;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
}
.optinoid-optin button:hover,
.optinoid-optin .button:hover {
  background-color: #0d0d0d !important;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.optinoid-optin .optinoid-thumb {
  width: 100%;
  height: auto;
  float: left;
}
.optinoid-optin .preloader {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
.optinoid-optin .preloader .circle {
  width: 40px;
  height: 40px;
  border: 5px solid #CCC;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.optinoid-optin .preloader .circle:after {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -9px;
  margin-left: -3px;
  content: "";
  width: 6px;
  height: 18px;
  background: #CCC;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
}
.optinoid-optin .preloader .circle:before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -3px;
  margin-left: -9px;
  content: "";
  width: 18px;
  height: 6px;
  background: #CCC;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
}
.optin-input-url {
  display: none;
}
/* @end */
/* @group OPTIN WELCOME */
#optinoid-welcome {
  position: absolute;
  width: 100%;
  background: #FFF;
  z-index: 1000;
  overflow: hidden;
  left: 0;
  top: -100%;
  height: 100%;
  right: 0;
}
#optinoid-welcome.active {
  top: 0;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#optinoid-welcome.closing {
  top: -100%;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#optinoid-welcome .optinoid-optin {
  border: 1px solid #DDD;
}
#optinoid-welcome .close-optin {
  border: 1px solid #DDD;
}
#optinoid-welcome .optinoid-scroll {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: 40px;
  cursor: pointer;
  -webkit-animation: bouncing 1s linear infinite;
  -moz-animation: bouncing 1s linear infinite;
  -ms-animation: bouncing 1s linear infinite;
  border: 3px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#optinoid-welcome .optinoid-scroll.split-screen {
  left: 75%;
}
#optinoid-welcome .optinoid-scroll i {
  content: "";
  width: 3px;
  height: 10px;
  bottom: 35%;
  position: absolute;
  background: #666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#optinoid-welcome .optinoid-scroll i:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  left: 50%;
}
#optinoid-welcome .optinoid-scroll i:last-child {
  right: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
}
#optinoid-welcome .optinoid-scroll:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
#optinoid-floating-bar {
  position: fixed;
  left: 0;
  top: -100%;
  right: 0;
  background-image: linear-gradient(right, #FAFAFA 0%, #EEE 100%);
  background-image: -o-linear-gradient(right, #FAFAFA 0%, #EEE 100%);
  background-image: -moz-linear-gradient(right, #FAFAFA 0%, #EEE 100%);
  background-image: -webkit-linear-gradient(right, #FAFAFA 0%, #EEE 100%);
  background-image: -ms-linear-gradient(right, #FAFAFA 0%, #EEE 100%);
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #FAFAFA), color-stop(0.5, #EEE));
  background: -ms-linear-gradient(left, #EEE 0%, #FAFAFA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#EEE', GradientType=1);
  background: #EEE;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EEE), color-stop(1, #FAFAFA));
  background: -ms-linear-gradient(bottom, #EEE, #FAFAFA);
  background: -moz-linear-gradient(center bottom, #EEE 0%, #FAFAFA 100%);
  background: -ms-linear-gradient(bottom, #EEE 0%, #FAFAFA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#EEE', GradientType=0);
  border-bottom: 1px solid #E3E3E3;
  overflow: hidden;
  padding: 10px 0;
}
#optinoid-floating-bar form {
  padding: 0;
  border: 0;
  background: none;
  width: 50%;
  float: left;
}
#optinoid-floating-bar .optinoid-text {
  width: 50%;
  float: left;
  line-height: 40px;
}
#optinoid-floating-bar.active {
  top: 0;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#optinoid-floating-bar .optinoid-optin {
  position: relative;
  top: auto;
  margin-left: auto;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  left: auto;
}
#optinoid-floating-bar .optinoid-optin .close-optin {
  position: fixed;
  right: 16px;
  top: 14px;
}
#optinoid-floating-bar.optinoid-stick-bottom {
  top: auto;
  bottom: -100%;
  border-top: 1px solid #E3E3E3;
  border-bottom: none;
}
#optinoid-floating-bar.optinoid-stick-bottom .close-optin {
  position: fixed;
  right: 16px;
  bottom: 14px;
  top: auto;
}
#optinoid-floating-bar.optinoid-stick-bottom.active {
  bottom: 0;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* @end */
/* @group THEMES */
.optinoid-optin .optinoid-form-inner {
  display: table;
  width: 100%;
}
.optinoid-optin .optinoid-form-inner .optinoid-input {
  padding: 0 .25em;
  width: 100%;
  display: table-cell;
}
.optinoid-optin .optinoid-form-inner .optinoid-input.has-multiple-fields {
  width: 50%;
}
.optinoid-optin.content-below-image .optinoid-container {
  float: left;
  width: 100%;
  padding: 0.9375rem;
}
.optinoid-optin.content-below-image .optinoid-thumb-container {
  width: 100%;
  float: left;
  overflow: hidden;
  max-height: 300px;
}
.optinoid-optin.content-below-image .optinoid-form {
  background: #EEE;
  border-top: 1px solid #DDD;
  padding: 0.9375rem;
}
.optinoid-optin.content-below-image .optinoid-text {
  width: 100%;
  float: left;
  /*padding: 0.9375rem;*/
}
.optinoid-optin.content-below-image .optinoid-text p:last-child {
  margin-bottom: 0;
}
.optinoid-optin.content-over-image {
  text-align: center;
}
.optinoid-optin.content-over-image .optinoid-container {
  float: left;
  width: 100%;
  padding: 5.625rem 1.875rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.optinoid-optin.content-right .optinoid-container {
  float: left;
  width: 100%;
  padding: 0.9375rem;
}
.optinoid-optin.content-right .optinoid-container .optinoid-thumb {
  float: left;
  max-width: 33%;
  margin: 0 1.5em 0 0;
}
.optinoid-optin.content-right .optinoid-form {
  background: #EEE;
  border-top: 1px solid #DDD;
  padding: 0.9375rem;
}
.optinoid-optin.simple-form .optinoid-form {
  background: #EEE;
  border-top: 1px solid #DDD;
  padding: 0.9375rem;
}
/* @end */
@media only screen and (max-width: 767px) {
  .optinoid-optin {
    left: 0;
    top: 0;
    border: 0;
    margin-left: 0;
    width: 100%;
    border: 0 !important;
  }
  .optinoid-optin.active {
    top: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .optinoid-optin .optinoid-form-inner {
    display: block;
  }
  .optinoid-optin .optinoid-form-inner .optinoid-input {
    display: block;
  }
  .optinoid-optin .optinoid-form-inner .optinoid-input.has-multiple-fields {
    width: 100%;
  }
  .optinoid-optin .optinoid-field {
    width: 100%;
    float: left;
    margin-bottom: 1% !important;
  }
  .optinoid-optin .optinoid-field.has-multiple-fields {
    width: 100%;
    margin-right: 0;
  }
  .optinoid-optin .optinoid-button {
    width: 100%;
    float: left;
  }
  .optinoid-optin .optinoid-button.has-multiple-fields {
    width: 100%;
  }
  .optinoid-optin .close-optin {
    right: 6px;
    top: 6px;
  }
  .optinoid-optin.content-over-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  .optinoid-optin.content-over-image .optinoid-container {
    float: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0.9375rem;
  }
  .optinoid-optin.content-over-image form {
    position: absolute;
    padding: 0.9375rem;
    left: 0;
    bottom: 0;
    right: 0;
  }
  #optinoid-floating-bar {
    height: auto;
  }
  #optinoid-floating-bar .optinoid-text {
    width: 100%;
    text-align: center;
  }
  #optinoid-floating-bar form {
    width: 100%;
    padding: 0.9375rem;
    display: none;
  }
  #optinoid-floating-bar form.active {
    display: block;
  }
  .optinoid-scroll {
    display: none !important;
  }
}
